<IfModule mod_rewrite.c>
    # Removido Options -MultiViews -Indexes pois causa erro 500 na InfinityFree
    <IfModule mod_negotiation.c>
        # Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redireciona todos os pedidos para a pasta public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
